# OS/editor
.DS_Store
.vscode/
.idea/

# Data
data/
!data/.gitkeep

# Python
__pycache__/
*.pyc
.venv/
venv/

# Local env files
.env
notebooks/taraintino_env

# Secrets (keep only the placeholder)
secrets/*
!secrets/.gitkeep

# Local data (keep only the placeholder)
src/dataweb/*
!src/dataweb/.gitkeep

# Not in milestone 2 yet
models/*
!models/.gitkeep
