# OS / Editor
.DS_Store
.vscode/
.idea/

# Data
data/
!data/.gitkeep

# Python
__pycache__/
*.pyc
.venv/
venv/

# Local env files
.env
notebooks/taraintino_env

# Secrets (keep only the placeholder)
secrets/*
!secrets/.gitkeep

# Remove accidentally committed ADC key
src/adc.json

# Remove uv.lock file
src/uv.lock

# ChromaDB local storage 
chroma_db/
src/datapipeline/chroma_db/

# Datapipeline logs (ignore outputs)
src/datapipeline/logs/*.npy
src/datapipeline/logs/*.npz
src/datapipeline/logs/movie_tag_relevance_cos__tag_index.json

# Local data (keep only the placeholder)
src/dataweb/*
!src/dataweb/.gitkeep

# Models (not part of MS2 yet)
models/*
!models/.gitkeep

# Duplicate safety
__pycache__/
*.pyc

